<%- include('./partials/header.ejs') %>


<h2>Summary</h2>
<form method="POST" action="/behaviour/summary">
<label for="week">Week</label>
<input name="week" id="week" type='week' value="<%= year_w %>-W<%= week_nr %>">
<label for="month">Month</label>
<input name="month" id="month" type='month' value="<%= year_m %>-<%= month_nr %>">
<input type="submit" value="Search for records">
</form>

<%- include('./partials/averages.ejs', {
    data: week,
    title: "Averages for the chosen week",
    nothing: "No reports for the chosen week"
}); %> 

<%- include('./partials/averages.ejs', {
    data: month,
    title: "Averages for the chosen month",
    nothing: "No reports for the chosen month"
}); %> 

<%- include('./partials/nav.ejs', {front: true, reporting: true, summary: false}) %> 
<%- include('./partials/footer.ejs') %> 